In [2]:
121//10

12

In [3]:
12//10

1

In [4]:
a="42"
b=str(a)

print(b)

                                                42

In [64]:
n=int(input("Enter your number = "))

for i in range(n+1):
    
    for j in range(n-i):
        print(" ",end='')
        
    for j in range(2*i-1):
        
        
        print(j,end='')
        

    print('\n')

    0

   012

  01234

 0123456

012345678

In [1]:
row = int(input("Enter number of rows: "))

space = 36

# empty list containg all 0s
a = [0] * 20 


print("\n\t\t\t\t*** PASCAL TRIANGLE ***\n")
for i in range(row):
    
    for spi in range(1,space+1):
        print(" ", end="")
    
    a[i] = 1
    
    for j in range(i+1):
        print('%6d' %(a[j]), end = "")
    
    for j in range(i,0,-1):
        a[j] = a[j] + a[j-1]
    
    space = space - 3
    
    print()

				*** PASCAL TRIANGLE ***

                                         1
                                      1     1
                                   1     2     1
                                1     3     3     1
                             1     4     6     4     1

In [2]:
row = int(input("Enter number of rows: "))

space = 36

# empty list containg all 0s
a = [0] * 20 


print("\n\t\t\t\t*** PASCAL TRIANGLE ***\n")
for i in range(row):
    
    for spi in range(1,space+1):
        print(" ", end="")
    
    a[i] = 1
    
    for j in range(i+1):
        print('%6d' %(a[j]), end = "")
    
    for j in range(i,0,-1):
        a[j] = a[j] + a[j-1]
    
    space = space - 3
    
    print()

				*** PASCAL TRIANGLE ***

************************************     1
*********************************     1     1
******************************     1     2     1
***************************     1     3     3     1
************************     1     4     6     4     1

In [1]:
0-1

-1

In [24]:
l=[1,2,3,4,54,56,7]
i = 5

In [26]:
l[i]

56

In [7]:
a = (1, 2, 3)

In [9]:
list(a)

[1, 2, 3]

In [21]:
asd = range(5)

In [22]:
list(asd)

[0, 1, 2, 3, 4]

In [28]:
s=50
f = float(s)
print(f)
print(type(f))

y = int(f)
print(y)
print(type(y))

50.0
<class 'float'>
50
<class 'int'>

In [29]:
arr=[1,2,3,4,5,6]

In [49]:
list1 = ["flower","flow","flight"]
# count=0
# list1=list1[0]
# list2=list1[1]
# list3=list1[2]

# for element in list1:
print(i)

NameError: name 'l' is not defined